*
    margin: 0
    padding: 0
    list-style-type: none

html, body
    height: 100%
    width: 100%

.pianoroll
    --cell-border-color: #666
    --empty-cell-color: #333
    --highlight-cell-color: #444
    --note-color: #f78d2a
    --highlight-note-color: #fda95b
    --timeline-color: var(--highlight-cell-color)
    --border-size: 1px
    --header-height: 2%
    height: 100%
    width: 100%

    %border
        border-color: var(--cell-border-color)
        border-style: solid
        border-width: 0 0 0 0
        box-sizing: border-box
    %border-horizontal
        @extend %border
        border-left-width: var(--border-size)
    %border-vertical
        @extend %border
        border-top-width: var(--border-size)

    %container-horizontal
        display: flex
        flex-direction: row
    %container-vertical
        display: flex
        flex-direction: column
    %view-horizontal
        width: 100%
        // @extend %border-horizontal
    %view-vertical
        height: 100%
        // @extend %border-vertical

    >.timeline-header
        @extend %container-horizontal
        height: var(--header-height)
        >.bar-header
            @extend %view-horizontal
            @extend %container-horizontal
            >.cell
                @extend %view-horizontal
                background-color: var(--timeline-color)

    >.contents
        height: calc(100% - var(--header-height))
        .background,
        .note-container
            height: inherit
    
    .bar
        @extend %view-horizontal
        @extend %container-horizontal
        >.time-index-cell
            @extend %view-horizontal
            @extend %container-vertical
            >.octave
                @extend %view-vertical
                @extend %container-vertical
    
    .background
        position: absolute
        width: 100%
        @extend %container-horizontal
        .cell
            @extend %view-vertical
            background-color: var(--empty-cell-color)
            &:hover
                background-color: var(--highlight-cell-color)
    .note-container
        width: 100%
        position: absolute
        @extend %container-horizontal
        .cell
            @extend %view-vertical
            &:hover
                background-color: var(--highlight-cell-color)
        .puted
            pointer-events: auto
            background-color: var(--note-color)
            &:hover
                background-color: var(--highlight-note-color)
